:root {
  --primary-color: #2bbfec;
  /* forest green */
  --secondary-color: #f0f5f7;
  /* warm sand */
  --accent1-color: #0b1418;
  /* dark slate blue */
  --accent2-color: #0e1218;
  /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  display: grid;
  grid-template-columns: 15% 15% 70%;
  align-items: center;
  background-color: var(--secondary-color);

}

header img {
  width: 50px;
  height: auto;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
  margin: 0px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;

}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  /* white text – make sure there is enough contrast with the background-color */
}

.hero article {

  position: absolute;
  top: 280px;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;

}

.hero article img {

  width: 100px;
  height: auto;
  float: right;
  margin-left: 15px;
}

main h2 {
  background-color: var(--accent2-color);
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: rgb(241, 239, 239)
}

footer {
  border-top: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

footer a img {

  display: flex;
  align-content: end;
  width: 45px;
  height: auto;

}

.History_division {
  display: grid;
  grid-template-columns: 300px 250px 300px;

}

.History_division img {
  width: 250px;
  height: auto;
  display: grid;
  align-items: center;
  align-content: center;
}

.adventures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
}

.adventures h2 {
  grid-column: 1 / -1;
}

.adventures figure {
  text-align: center;
  margin: 0;
}

.adventures img {
  width: 100%;
  height: auto;
}